<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889902852869-mglloc133ukf6p0kcqbtcr8kdcbvbk10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889902852869-mglloc133ukf6p0kcqbtcr8kdcbvbk10</string>
	<key>API_KEY</key>
	<string>AIzaSyDHzvSAM7fZ-jOXdGbmWKnq0F06-eKG6vk</string>
	<key>GCM_SENDER_ID</key>
	<string>889902852869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tami.AuthAppTest</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-abe19</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-abe19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889902852869:ios:41c74177e40aa4ed05656c</string>
</dict>
</plist>